[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
mediawiki-dump = "*"
wordcloud = "*"
Pillow = "*"
stop-words = "*"

[requires]
python_version = "3.6"
